
body {
 font-size: 12px;
}


.err{
	color:#d80f0f;
	font-size: 12px;
	font-weight: bold;
	display:none;
}

.error{
	background-color: #f2dede;
	border-color: #e4aeb6 !important;
	color: #a94442;
	
	
	padding: 15px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	
	font-size: 12px;
	font-weight: bold;
	display:none;
}
.success{
	background-color: #b0f8b7;
	border-color: #8af09c !important;
	color: #0a9507;	
	
	padding: 15px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	
	font-size: 12px;
	font-weight: bold;
	display:none;
}
